body
  margin: 0
  padding: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  color: white

ul
  padding: 0
  list-style: none

a
  color: #ffffff
  text-decoration: none

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

input[type=number]
  -moz-appearance: textfield

.app
  height: 100vh
  width: 100%
  background-color: #0093E9
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%)

.header
  padding-top: 20px
  width: 80%
  margin: 0 auto
  display: flex
  justify-content: flex-start
  &__link
    font-size: 24px
    transition: 0.3s
    margin-right: 55px
    &:hover
      color: #00308F

.overlay
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0, 0, 0, 0.7)

.modal
  width: 740px
  height: 550px
  border-radius: 20px
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  background-color: #fff
  padding: 30px 30px 30px 30px
  color: #333333
  &__close
    position: absolute
    right: 20px
    top: 32px
    width: 32px
    height: 32px
    opacity: 0.3
    &:hover
      opacity: 1
    &:before, &:after
      position: absolute
      left: 15px
      content: ' '
      height: 25px
      width: 2px
      background-color: #000000
    &:before
      transform: rotate(45deg)
    &:after
      transform: rotate(-45deg)

.convert
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  margin: 0 auto
  width: 1000px
  height: 300px
  background-color: rgba(0, 0, 0,0.2)
  border-radius: 8px
  display: flex
  flex-direction: column
  justify-content: center
  &__rate
    margin-top: 40px
    text-align: center
    color: white
    font-size: 40px
  &__form
    display: flex
    //align-items: center
    justify-content: center
    &-input
      background: rgb(255, 255, 255)
      box-sizing: border-box
      border: 0px
      border-radius: 10px
      color: rgb(0, 34, 114)
      font-size: 3rem
      height: 60px
      padding-left: 20px
      width: 250px
      &:focus
        outline: none
    &-select
      background: rgb(255, 255, 255)
      box-sizing: border-box
      border: 0px
      border-radius: 10px
      color: rgb(0, 34, 114)
      font-size: 1.4rem
      height: 60px
      padding-left: 20px
      width: 200px
      text-transform: uppercase
    &-label
      color: white
      display: flex
      flex-direction: column
      font-size: 17px
    &-name
      padding-left: 4px
    &-button
      background: rgb(255, 255, 255)
      box-sizing: border-box
      border: 0px
      font-size: 1.7rem
      margin-top: 21px
      margin-left: 20px
      height: 60px
      width: 180px
      &:focus
        outline: none
    &-container
      display: flex
      & > *
        margin: 0 10px

.select
  &__title
    text-align: center
    font-size: 2.2rem
  &__form
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    & > *
      margin: 0 10px
    &-select
      background: rgb(255, 255, 255)
      box-sizing: border-box
      border: 1px solid #333333
      border-radius: 10px
      color: rgb(0, 34, 114)
      font-size: 1.5rem
      height: 60px
      padding-left: 20px
      width: 200px
      text-transform: uppercase
    &-button
      box-sizing: border-box
      border: 0px
      font-size: 1.5rem
      height: 60px
      width: 180px

.rate
  width: 80%
  margin: 0 auto
  margin-top: 40px
  &__title
    font-weight: 500
    font-size: 35px
  &__list
    height: 700px
    display: flex
    flex-direction: column
    flex-wrap: wrap
  &__item
    font-size: 16px
    margin-right: 10px
    margin-top: 10px
  &__currency
    color: #090979

.btn-grad-blue
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%)
  &
    text-align: center
    text-transform: uppercase
    transition: 0.5s
    background-size: 200% auto
    color: white
    border-radius: 10px
    display: block
    &:hover
      background-position: right center
      color: #fff
      text-decoration: none

.btn-grad-green
  background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD 51%, #4CB8C4 100%)
  &
    text-align: center
    text-transform: uppercase
    transition: 0.5s
    background-size: 200% auto
    color: white
    border-radius: 10px
    display: block
    &:hover
      background-position: right center
      text-decoration: none
